table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .red{
    color: red;
  }
  .orange{
    color: orange;
  }
  .green{
    color: green;
  }